@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Films.Models.MovieMovieList>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<h2>İzlemek istediklerim</h2>

<div class=" row">
    @foreach (var i in Model)
    {
        <div class="container mt-3">

            <div class=" col-sm-3">
                <div class="card bg-light text-center">
                   
                    
                    <img class="card-img-top" src="/NewFolder/pngwingcom.png" alt="Card image" style="width:100%">
                    <div class="card-header"><p><dl><dt> @i.Movie.Title</dt></dl></p></div>
                    <div class="card-body">
                        <p>Yönetmeni : @i.Movie.Director</p>
                        <p>Tür : @i.Movie.Genre</p>
                        <p>Puan : @i.Movie.Score</p>
                        <p>Yıl : @i.Movie.ReleaseDate.Year</p>
                    </div>
                </div>
            </div>
            <br />
        </div>
     }
</div>

<br />
<br />